<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Home Page</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<link rel="Stylesheet" type="text/css" href="/stylesheets/style.css">
 	<script type="text/javascript" src="/javascripts/test.js"></script>



</head>
<body>

 <form name="feedback" action="/productHolder" method="get">
<% include ./Page/Header %>
    <div class="col-sm-10 text-left"> 
    <div class="row">
    <div class="col-sm-10"></div></div><br>
      <div class="form-group">
          <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <label>Product Name</label></div>
              <div class="col-sm-4">
              <input type="text" class="form-control" id="productname" name="productname" onblur="validateProductName();" autofocus required>
            <span id="id1" style="color:red"></span>
            </div></div></div></br>
            <div class="form-group">
          <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <label>Product UPC Bar Code #</label></div>
              <div class="col-sm-4">
              <input type="text" class="form-control" id="productCode" name="productCode" onblur="checkProductCode();" required>
           <span id="ProductCodeError" style="color:red"></span>
            </div></div></div></br>
            <div class="form-group">
          <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <label>Product Price</label></div>
              <div class="col-sm-4">
              <input type="text" class="form-control" id="productprice" name="productprice" onblur="validatePrice();"  required>
           <span id="PriceError" style="color:red"></span>
            </div></div></div></br>
            <div class="form-group">
          <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <label>Product Type</label></div>
              <div class="col-sm-4">
             <div class="drop-down">
            <select id="producttype"  name="producttype" onmouseout="taxvalidation();" required>
            <option value="select">--select--</option>
      
    <% list.forEach(function(value) { %>
	<option><%= value.name %> </option><% }); %>
</select>
			   
			   
            </div>
                       </div></div></div></br>
                <div class="form-group">
          <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
              <label for="producttax">Product Tax Price</label></div>
              <div class="col-sm-4">
            
              <input type="number" class="form-control" id="val" name="producttax" readonly="true"/>
            </div></div></div></br>       
            
            <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-2">
             <input type="submit" value="Submit"  id="submitbutton" class="btn btn-default">
             </div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2">
             <input type="reset" value="Cancel" name="cancel" class="btn btn-default" ><br>
             </div>
             
             </div>
             
    
  </div>

</form>
</body>
<% include ./Page/Footer %>

</html>